{% extends "base.html" %}

{% block content %}
    {{post.render(user) | safe}}
    <br><br>
    <form class="comments-box" method="post">
        <label class="write">
        - Write Comment -<br>
        </label>
        <input class="com_box" type="text" name="comment">
        <input class="com_send" type="submit">
    </form>
    <div class="error">
    {{error}}
    </div>
    <br><br>
    {% if comments %}
        <div class="user_comment">
        {% for c in comments %}
            {{c.name}}
            <div class="comment_content">
            {{c.comment | safe}}
            </div>
        </div>
        {% endfor %}
    {% endif%}

{% endblock %}
