{% extends "base.html" %}

{% block content %}

    {{post.render(user) | safe}}
    <br><br>
    {% if user %}
    <form class="comments-box" method="post">
        <label class="write">
        - Write Comment -<br>
        </label>
        <input class="combox" type="text" name="comment" value="{{comment}}">
        <input class="send" type="submit">
    </form>
    {% endif %}
    <br><br>
    {% for c in comments%}
        <div class="usercomment">
            {{post.author}}
        </div>
        {{comment}}
    {% endfor %}

{% endblock %}