<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
      <span class="post-username">by {{p.name}}</span>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}

      {% if user %}
        <a class="post-comments" href="{{'/blog/comments/%s' % p.key.id()}}">comment </a>
      {% endif %}

      <div class="like_count">
        {% if user and user.key.id() != p.author %}
          <form method="post" action="/blog">
            <button name="like" type="submit" value="{{p.id()}}">like
            </button>
          </form>
        {% endif %}
        {% if p.likes != 0 %}
          {{p.likes | length}}
        {% endif %}
      </div>

      {% if user and p.author == user.key.id() %}
        <div class="post-e-d">
          <a class="post-edit" href="{{'/blog/editpost/%s' % p.key.id()}}">edit</a>
          <span class="post-edit"> / </span>
          <a class="post-delete" href="{{'/blog/deletepost/%s' % p.key.id()}}">delete</a>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>